.App {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  max-width: 600px;
  background: white;
  margin: 0 auto;
  color: #1c304a;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  background: none;
}

.App header {
  margin: 10px;
}
h1 {
  font-size: 24px;
}
.App footer {
  text-align: center;
  font-size: 11px;
  margin: 30px 0;
}
