.Dictionary {
  margin-bottom: 30px;
}
.Dictionary-search-button {
  background: #00cfff;
  color: #1c304a;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  margin-bottom: 30px;
}
.section-title {
  color: #1c304a;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}
