.dictionary {
  padding-top: 30px;
}
.Dictionary-search-button {
  background: #3face3;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  border: none;
}
.section-title {
  color: #3face3;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}
