.Results {
  background-color: #00cfff;
  color: #1c304a;
  padding: 25px;
}
h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  padding-top: 30px;
}
p {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;

  text-align: left;
}
